<?xml version="1.0" encoding="UTF-8"?>
<suite name="ShowSlinger">
<test name="Run on Chrome">
	  <parameter name="browser" value = "chrome"></parameter>
	  <parameter name="portalURL" value="buyonline"></parameter>
    <classes>
      <class name="showslinger_user.User_07_Buy_Online"/>
    </classes>
  </test> <!-- Test --> 
  
</suite> <!-- Suite -->
